@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif;
}

.chat-bubble-bot {
  background-color: #f3f4f6; /* gray-100 */
}
.chat-bubble-user {
  background-color: #111827; /* gray-900 */
  color: white;
}
.product-card {
  scroll-snap-align: start;
}
